<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--设置mysql输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--设置实体类别名-->
    <typeAliases>
        <package name="priv.yjh.lostAndFound.domain"/>
    </typeAliases>

    <!--mapper文件位置-->
    <mappers>
        <package name="priv.yjh.lostAndFound.dao,priv.yjh.lostAndFound.dao"/>
    </mappers>
</configuration>